/* YOUR CSS HERE */
body{
  margin:0;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background-color: white;
  padding:3px 50px;
}

.content_wrapper{
  display: flex;
  flex-direction: row-reverse;
  padding:3px 10px;
  background-color: bisque;
}

main{
  flex:1
}

menu{
  display: flex;
  flex-direction: row;
}

menu li{
  list-style: none;
  padding: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
}

@media (max-width: 600px) {
  header{
    display: none;
  }

  .content_wrapper{
    display: flex;
    flex-direction: column;
    padding:3px 10px;
    background-color: bisque;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  aside {
    position: fixed;
    right: 0px;
  }

}

.product_card{
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin: 2px;
}

.product_card img{
  width:auto;
  height:200px;
}
.product_card p{
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 15px;
}

.favorite-star {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
}

.product-info h2 {
  margin: 15px 0 10px;
  font-size: 24px;
}

.product-info p {
  font-size: 14px;
  color: #555;
}



.price-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}




aside {
  background-color:white;
  border:1px solid black;
  padding: 10px;
  flex:1;
  z-index:10;
}

footer{
  background-color: rgb(36, 208, 125);
}